<a href="https://colab.research.google.com/github/prototype99/datasci-webinar/blob/main/pods_2223_w7_webinar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%config InlineBackend.figure_format = 'retina'
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(rc={'figure.figsize': (8,6)}, style='ticks', context='notebook')

In [ ]:
"""
* we need some mechanism for ranking the data on salary and retrieve a slice
  from it (say, (top)/bottom)
* we are dealing with a subset of departments and the criteria for obtaining
  that is based on information on `department`. This suggests we need to 
  combine the data.
* merging/subsetting (rows)/ranking/slicing/subsetting (columns)
"""
(
    employees_df
    .merge(departments_df, on='department_id', suffixes=['_emp', '_dep'])
    # .query("department_name.isin([ 'IT', 'Sales' ])")
    # .query("department_name=='IT' or department_name=='Sales'")
    .sort_values('salary', ascending=False)
    .head(5)
    [ [ 'employee_id', 'last_name', 'first_name', 'department_name' ] ]
)

# emp_dep_df = employees_df.merge(departments_df, on='department_id', suffixes=['_emp', '_dep'])
# (emp_dep_df
#     [ (emp_dep_df['department_name']=='IT') | (emp_dep_df['department_name']=='Sales') ]
#     .sort_values('salary', ascending=False)
#     .head(5)
#     [ [ 'employee_id', 'last_name', 'first_name', 'department_name', 'salary', 'commission_pct' ] ]
# )

In [ ]:
# can we do the top earners by department?
# (
#     employees_df
#     .merge(departments_df, on='department_id', suffixes=['_emp', '_dep'])
#     .query("department_name.isin([ 'IT', 'Sales' ])")
#     .groupby('department_name')
#     .sort_values('salary', ascending=False)
#     .head(5)
#     [ [ 'employee_id', 'last_name', 'first_name', 'department_name' ] ]
# )

grouped = (employees_df
    .merge(departments_df, on='department_id', suffixes=['_emp', '_dep'])
    .query("department_name.isin([ 'IT', 'Sales' ])")
    .groupby('department_name')
)

# from IPython.display import display
# for k in grouped.groups.keys():
#     df = grouped.get_group(k)
#     display(
#         df.sort_values('salary', ascending=False)
#         .head(5)
#         [ [ 'employee_id', 'last_name', 'first_name', 'department_name', 'salary' ] ]
#     )
    
# this is beyond today's material... TODO
pd.concat([ df for name, df in grouped ])

NameError: ignored

In [ ]:
# employees work for departments, which are located in locations, which are then in countries...
(
    employees_df
    .merge(departments_df, on='department_id')
    .merge(locations_df)
    .merge(countries_df)
    [ [ 'last_name', 'first_name', 'department_name', 'country_name', 'salary' ] ]
    .query("country_name=='United Kingdom'")
    .sort_values('salary', ascending=False)
    .head(10)
    [ [ 'last_name', 'first_name', 'salary', 'department_name' ] ]
)